
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}       

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h2>Dashboard</h2>
        </div>

        <div class="panel-body">
            <div class="col-md-6">
                
            </div>
        </div>
    </div>

</div>

    