@model PharmAssistant.Models.ViewModels.MedicineCategoryViewModel


@{
	ViewBag.Title = "Medicine Categories";
	Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

<script type="text/javascript">

	function validateForm() {
		//validate Email Id
		var name = $('#name').val().trim();
		if (!name || name == '' || name == undefined) {
			//Show Invalid category name Message
			$('#categoryNameErrorMessage').html('Category name is required.');
			return false;
		}
	}

	function onSuccess() {
		//alert('Success');
		$('#formErrorMessage').html('');
		resetFields();
	}

	function onFailure(data) {
		alert('Failure: ' + data);
		$('#formErrorMessage').html('Category already exists.');
	}

	function resetErrorMessages() {
		$('#categoryNameErrorMessage').html("");
	}

	function resetFields() {
		resetErrorMessages();
		$('#name').val("");
	}
</script>


<div class="row">
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Add Medicine Category</h3>
			</div>
			<div class="panel-body">

				@*@using (Html.BeginForm("AddSupplier", "Supplier", FormMethod.Post))*@
				@using (Ajax.BeginForm("AddCategory", "Medicines", new AjaxOptions
				{
					HttpMethod = "POST",
					UpdateTargetId = "CategoryList",
					InsertionMode = InsertionMode.Replace,
					OnSuccess = "onSuccess",
					OnFailure = "onFailure"
				}))
				{
					@Html.AntiForgeryToken()

					<span id="formErrorMessage" class="text text-danger"></span> <br />

					@Html.TextBox("Name", "", new { id = "name", @class = "form-control", placeholder = "Category Name" })
					<span id="categoryNameErrorMessage" class="text text-danger"></span> <br />
					<br />

					<div class="row">
						<div class="col-md-6">
							<input type="submit" id="addUpdateButton" value="Add Category" class="btn btn-primary btn-block" onclick="return validateForm();" />
						</div>
						<div class="col-md-6">
							<button type="button" class="btn btn-default btn-block" onclick="resetFields();">Cancel</button>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="panel">
			<div class="panel-heading">
				<h3>Categories</h3>
			</div>
			<div class="panel-body" id="CategoryList">
				@{ Html.RenderPartial("_MedicineCategoryList", Model.CategoryList); }
			</div>
		</div>
	</div>
</div>


